
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
   background-color: #1a1a1c; 
  color: #fff;


}
.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 500px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #107fee 10%,
    #1249d6 48%,
    #4801ff 100%
  );
  /* background: rgb(9,36,121);
background: linear-gradient(90deg, rgba(9,36,121,1) 0%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%); */

  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}